<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Short Key</th>
                            <th>Long URL</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% for (url in urls) { %>
                                <td><a href="/u/<%= url %>"><%= url %></a></td><td> <%= urls[url] %></td>
                                <td>
                                    <form method="POST" action="/urls/<%= url %>/delete">                                    
                                        <a href="/urls/<%= url %>" ><button name="<%= url %>" type="button" class="btn btn-warning">Edit</button></a>
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </td>
                                </tr><tr>
                            <% } %>
                    </tr>
                    <tr>   
                        <td><a href="/urls/new"><button name="<%= url %>" type="button" class="btn btn-primary">Add New</button></a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    <div>
</body>
<footer>
        <% include partials/_footer %>
</footer>
</html>